body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4757;
  width: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fc8eac;
}

/* Navbar */
header {
  margin-left: 10.5%;
  margin-right: 10.5%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: solid 2px #fc8eac;
  position: relative;
}

.yum-yum-navlogo {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 57px;
}

a {
  text-decoration: none;
  color: #ff4757;
}

.a-text {
  margin-top: 25px;
  margin-left: 30px;
  font-weight: 500;
  font-size: large;
}

.a-cart {
  margin-top: 15px;
  position: absolute;
  right: 5%;
}

.cart-size {
  height: 40px;
  width: 50px;
}

.a-button {
  margin-top: 15px;
}

.nav-head {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 0%;
  margin-bottom: 0%;
}

/* Button-animation */
.button {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 1.5rem;
  background: #fc8eac;
  background-size: 400%;
  color: #fff;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  font-weight: 600;
  font-size: small;
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(255, 71, 87, 1) 100%,
    rgba(255, 71, 87, 1) 100%
  );
  transition: all 0.475s;
}

@media (max-width: 767px) {
  header {
    position: relative;
  }

  .nav-head {
    display: flex;
    margin: auto;
  }

  .cart-size {

  }

  .a-button {
    margin-right: 20px;
  }
}

/* Explore Section */
main {
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ff4757;
}

.search {
  margin-bottom: 20px;
}

#search-input {
  padding: 15px;
  font-size: medium;
  width: 60%;
  border: solid #ff6b81 2px;
  border-radius: 5px;
}

#search-btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #ff6b81;
  color: white;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #ff4757;
  color: white;
}

.recipe-card {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ddd;
}

.recipe-card img {
  max-width: 100%;
}

.recipe-card h3 {
  margin-top: 0;
}

.recipe-card p {
  margin: 10px 0;
}

/* Content */
#badge-main {
  display: flex;
  flex-direction: row;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.badge-middle {
  margin-right: 5%;
  margin-left: 5%;
}

.badge-text {
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 767px) {
  #badge-main {
    flex-direction: column;
  }
}

hr {
  margin-top: 53px;
  height: 1px; 
  width: 80%;
}

/* Footer */
.footer-main {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
}

.p-social,
.p-important,
.p-contact,
.p-navlink {
  font-weight: 500;
}

.li-social,
.li-important,
.li-contact,
.li-nav {
  font-weight: 400;
}

.copyright {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.badge-red {
  margin-left: 5px;
  color: white;
  background-color: #ff4757;
  border-radius: 30%;
  padding: 3px;
  font-size: 12px;
}

/* Hamburger */
@media (max-width: 767px) {
  .yum-yum-navlogo {
    height: 80px;
    width: 160px;
  }

  .nav-head {
    display: flex;
    text-align: center;
  }

  .a-button {
    display: none;
  }

  #search-btn {
    height: 50px;
  }

  /* Footer */
  .footer-main {
    margin: 5px;
  }
}

/* .container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
} */
