body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4757;
  width: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fc8eac;
}

/* Navbar */
header {
  margin-left: 10.5%;
  margin-right: 10.5%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: solid 2px #fc8eac;
  position: relative;
}

.yum-yum-navlogo {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 57px;
}

a {
  text-decoration: none;
  color: #ff4757;
}

.a-text {
  margin-top: 25px;
  margin-left: 30px;
  font-weight: 500;
  font-size: large;
}

.a-cart {
  margin-top: 15px;
  position: absolute;
  right: 5%;
}

.cart-size {
  height: 40px;
  width: 50px;
}

.a-button {
  margin-top: 15px;
}

.nav-head {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 0%;
  margin-bottom: 0%;
}

/* Button-animation */
.button {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 1.5rem;
  background: #fc8eac;
  background-size: 400%;
  color: #fff;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  font-weight: 600;
  font-size: small;
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(255, 71, 87, 1) 100%,
    rgba(255, 71, 87, 1) 100%
  );
  transition: all 0.475s;
}

@media (max-width: 767px) {
  header {
    position: relative;
  }

  .nav-head {
    display: flex;
    margin: auto;
  }

  .cart-size {

  }

  .a-button {
    margin-right: 20px;
  }
}

/* Main Page */
.banner {
  text-align: center;
  background-image: url(../Image/banner-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 220px;
  padding-bottom: 220px;
}

.banner-first-text {
  color: #ff4757;
  margin: auto;
  font-size: 70px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.banner-second-text {
  color: #ff4757;
  margin: auto;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Pacifico", sans-serif;
  font-weight: 400;
}

.search {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#icon {
  color: #ff6b81;
  margin-top: 10px;
}

input[type="text"] {
  width: 40%;
  height: 50px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #ff6b81;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  border: 2px solid #ff4757;
}

.button-search {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #ff6b81;
  color: white;
  cursor: pointer;
}

.button-search:hover {
  background-color: #ff4757;
  color: white;
}

/* Restaurant Section */
.restaurant-card {
  overflow: hidden;
  width: 300px;
  background-color: #fff;
  border: 1px solid #fc8eac;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
}

.restaurant-card:hover {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  display: inline-block;
}

.restaurant-img {
  transition: transform 0.2s;
  border-radius: 15px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.restaurant-card:hover .restaurant-img {
  transform: scale(1.1);
}

.restaurant-name {
  margin-top: 10px;
  font-size: 24px;
}

.restaurant-info {
  margin-top: 10px;
  font-size: 13px;
  color: #666;
}

.restaurant-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff6b81;
  border-radius: 7px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.restaurant-button:hover {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff4757;
  border-radius: 7px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: "JetBrains Mono", monospace;
  margin-left: 10.5%;
  color: #ff4757;
}

.restaurant {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .restaurant-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/* Content */
.badge-main {
  display: flex;
  flex-direction: row;
  margin-left: 10.5%;
  margin-right: 10.5%;
  margin-top: 50px;
  text-align: center;
}

.badge-middle {
  margin-right: 5%;
  margin-left: 5%;
}

.badge-text {
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

@media (max-width: 767px) {
  .badge-main {
    flex-direction: column;
  }
}

/* FAQ Section */
.faq-heading {
  font-family: "JetBrains Mono", monospace;
  font-size: 45px;
  text-align: center;
  margin: 30px 0;
}

.accordion-wrapper {
  margin: 0 50px;
}

.accordion {
  color: #444;
  cursor: pointer;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: 10px 0 0;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}

.main-panel {
  width: 79.6%;
}

.main-acc {
  text-align: center;
  border: 3px solid black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 6px 6px 6px 6px;
  padding: 15px;
}

.main-acc.one {
  background: #fc8eac;
}

.main-acc.two {
  background: #fc8eac;
}

.main-acc.three {
  background: #fc8eac;
}

.main-acc.four {
  background: #fc8eac;
}

.main-acc.five {
  background: #fc8eac;
}

.main-acc.six {
  background: #fc8eac;
}

.main-acc.active {
  border-top: 3px solid #000000;
  border-right: 3px solid #000000;
  border-left: 3px solid #000000;
  border-bottom: none;
  border-radius: 6px 6px 0px 0px;
}

.main-acc:hover {
  background-color: #fc6c85;
}

.sub-acc {
  background-color: white;
  text-decoration: underline;
  margin: 0;
  padding: 18px 28px;
}

.accordion:after {
  content: "\002B";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 28px;
}

.active:after {
  content: "\2212";
}

.panel {
  position: relative;
  z-index: 2;
  background-color: white;
  border: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.sub-panel {
  border: none;
}

.sub-panel p {
  padding: auto;
  width: 70%;
  font-family: sans-serif;
}

.accordion.active + .main-panel {
  border: 3px solid #000000;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
  /* .bar {
      background-color: black;
      height: 3px;
      margin: 6px 0;
      width: 26px;
    } */
}

hr {
  margin-top: 53px;
  height: 1px;
  width: 80%;
}

/* Footer */
.footer-main {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 10%;
}

.p-social,
.p-important,
.p-contact,
.p-navlink {
  font-weight: 500;
}

.li-social,
.li-important,
.li-contact,
.li-nav {
  font-weight: 400;
}

.copyright {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.badge-red {
  margin-left: 5px;
  color: white;
  background-color: #ff4757;
  border-radius: 30%;
  padding: 3px;
  font-size: 12px;
}

/* Hamburger */
@media (max-width: 767px) {
  /* Header */
  .yum-yum-navlogo {
    height: 80px;
    width: 160px;
  }

  .nav-head {
    display: flex;
    text-align: center;
  }

  .a-button {
    
  }

  /* Main */
  input[type="text"] {
    width: 60%;
    height: 50px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }

  /* FAQ */
  .accordion {
    width: 100%;
  }

  .main-panel {
    width: 98%;
  }

  /* Footer */
  .footer-main {
    margin: 5px;
  }
}

/* .container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
} */

/* 404 Page */
.page404 {
  font-size: x-large;
  font-weight: 500;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 20%;
  color: red;
}
